.loginForm {
    padding-right: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    padding: 25px;
    position: static;
    flex-direction: column;
    border: solid #292929;
    background-color: #282c34;
    border-radius: 10px;
   }

   .input {
    box-sizing: border-box;
    outline: none;
    border: solid 2px #1189de;
    border-radius: 4px;
    color: #292929;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background: rgba(255, 255, 255, 1);
   }
   .inputField {
    padding-top: 16px;
   }
    
  .submitButton {
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
   }
   
  
   .btn {
    width: 30%;
    padding: 12px;
    color: #565656;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    border: solid 2px #1189de;
    cursor: pointer;
   } 
