body {
  margin: 0;
  padding: 0;
}

header.box {
  align-items: center;
  background-image: url('./images/top_portal_faturamento.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center center center;
  display: flex;
  height: 220px;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  opacity: 0.8;
  z-index: 6;
  
}
nav.menu{
  align-items: center;
  background: #12121232;
  display: flex;
  flex-direction: row;
  height: 42px;
  justify-content: flex-end;
  margin: 0;
  padding: 0 32px;
  position: fixed;
  top: 0px;
  width: 95%;
  
}

nav.menu .home{
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 6px;
  padding: 4px 12px;
  font-size: 18px; 
  color: black;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
  background-color: #FFF;
}


nav .menus:hover {
  color: black;
  font-weight: bold;
}

nav .home:hover{
  color:#FFF;
  background-color: #da552f;
}


@media screen and (max-width: 500px) {
  .banner .menu {
    float: none;
    display: block;
    text-align: left;
  }
  .menu {
    float: none;
  }
}

div.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 95%; 
  z-index: -1;
}

.img1{
  background-image: url('./images/prefeitura_portal_faturamento.png');
  background-repeat: no-repeat;
  position: relative;
  width: 600px;
  height: 150px;
}

.img2{
  background-image: url('./images/nova_logo.png');
  background-repeat: no-repeat;
  position: relative;
  min-width: 270px;
  height: 86px;
}

.link{
  text-decoration: none;
}