body{
    margin:0;
    padding: 0;
}

.tab-list{
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    margin: 10px 10px ;

    
}

.tab-list-item{
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    color:#326AAA;
}

.tab-list-active{
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
    border-radius: 3px;
    color: black;
}

