body{
    margin: 0;
    padding: 0;
}

.info{
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 66%;
}
.content_info{
    padding: 15px;
    border-radius: 5px;
    margin: 16px 25px 5px;
    border: 0.5px solid #DDD;   
    background-color: #fafafa; 
}
.content_info ul{
    list-style: none;
    color: #999;
    margin: 10px;
}
.content_info li{
    margin: 1px;;
}
.content_info p{
    font-size: 20px;
    margin: 5px 20px;
}
.info .content_info_child{
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}
.info a{
    margin-left: 25px;
    margin-bottom: 25px;
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 5px;
    /* background: #da552f; */
    background: #ff9b42;

    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}