body{
    margin:0;
    padding: 0;
}
.main-div{
    padding: 1px 1px 10px;
}
.simple_table th{
    height: 100%;
    max-width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
    width: 640px;
    padding: 3px;
}

.head_table {
    background-color: #427388;
    border-color: black;
}

th {
      background: linear-gradient(#333 0%,#444 100%);
      color: #FFF; 
      font-weight: bold;
      height: 40px;
  }

td, th {  
    border: 0 none; 
    height: 30px; 
}

td { 
    background: #FAFAFA; 
    text-align: center;
}

tr:nth-child(odd) td {
    background: #EEE;
} 
tr:nth-child(even) td { 
   background: #FDFDFD; 
}
tr:hover td {
    background: linear-gradient(to bottom, #eae5e5 0%,#A7CECB70 100%); 
}

tr td:first-child, tr th:first-child { 
	background: none; 
	font-weight: bold;
	font-size: 14px;
	text-align: right;
	padding-right: 10px;
	width: 680px; 
}

tr:first-child th:nth-child(2) { 
    border-radius: 5px 0 0 0; 
  } 

  tr:first-child th:last-child { 
    border-radius: 0 5px 0 0; 
  }

.row:nth-child(odd){
    background-color: #ddd7d7;
}