   body, html, #root, .app, .container {
    /*width: 100%;*/
    height: 97vh;
  }
  
  
  .container {
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #555;
  }
  
  .inputField {
   padding-top: 16px;
  }

  .logout .btn {
   padding-top: 16px;
   display: flex;
   justify-content: flex-end;
   font-size: 14px;
   border-radius: 4px;
   border: solid 2px #1189de;
   cursor: pointer;
   padding: 12px;
   width: auto;
   border-radius: 4px;
  }
